name: Deploy Docker Compose (Reusable)

on:
  workflow_call:
    inputs:
      deploy_path:
        required: true
        type: string
    secrets:
      SSH_KEY:
        required: true
      SSH_USER:
        required: true
      SSH_HOST:
        required: true


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout projeto alvo
      uses: actions/checkout@v4

    - name: Configurar chave SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_KEY }}" > ~/.ssh/deploy_key
        chmod 600 ~/.ssh/deploy_key

    - name: Copiar projeto para VPS
      run: |
        rsync -avz -e "ssh -i ~/.ssh/deploy_key -o StrictHostKeyChecking=no" \
          ./ ${{ inputs.ssh_user }}@${{ inputs.ssh_host }}:${{ inputs.deploy_path }}/

    - name: Rodar docker compose
      run: |
        ssh -i ~/.ssh/deploy_key -o StrictHostKeyChecking=no \
          ${{ inputs.ssh_user }}@${{ inputs.ssh_host }} \
          "cd ${{ inputs.deploy_path }}/docker && docker compose down && docker compose up -d --build"
